<div class="container">
    <h1 class="text-center mb-3 mt-5">Eat Da Burger!</h1>

    <div id="burger-img" class="mb-5"></div>

    <div class="row">
        <div class="col" id="uneatenBurgers">
            <ol>
                {{#each burgers}}
                    {{#unless devoured}}
                        {{> burgers/burger-block devoured=false}}
                    {{/unless}}
                {{/each}}
            </ol>
        </div> 
        <div class="col" id="devouredBurgers">
            <ol>
                {{#each burgers}}
                    {{#if devoured}}
                        {{> burgers/burger-block devoured=true}}
                    {{/if}}
                {{/each}}
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <form class="create-form">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <label for="bu" class="input-group-text">I think I'm still hungry for...</label>
                    </div>
                    <input type="text" id="bu" name="burger_name" class="form-control">
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-danger">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>